body {
  background: url('../images/office.jpg') no-repeat center center fixed !important;
  background-size: cover !important;
}

#login-page {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

#login-page {
  position: absolute;
}

#register-page h3 {
  color: #2F88AA;
  text-align: center;
  font-size: 1.5em;
  font-variant: small-caps;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: solid 1px #2F88AA;
}

#register-page label {
  top: 5px;
}

#register-container {
  display: flex;
  justify-content: space-between;
}

#register-container .col-md-6 {
  width: 45%;
  border: solid 2px #EEEEEE;
  padding: 0 30px 15px 30px;
}

@media screen and (max-width: 1000px) {
  #register-container {
    display: block;
  }

  #register-container .col-md-6 {
    width: 100%;
  }
}

#login-page .reset-label,
#register-page .reset-label {
  background-color: white;
  font-style: normal;
  position: static;
}

#login-page .col-md-9,
#register-page .col-md-9 {
  width: 100%;
}

#login-page .col-md-9 h2,
#register-page .col-md-9 h2 {
  background-color: #2f88aa;
  color: white;
  font-size: x-large;
  font-variant: small-caps;
  margin: 0 0 20px 0;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  border-radius: 10px 10px 0 0;
  display: block;
}

#login-page .well,
#register-page .well {
  padding: 0 0 30px 0;
  width: 90%;
  margin: 0 auto;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 0 30px black;
}

#login-page .well {
  width: 55%;
}

#login-page .well > .row {
  margin: auto;
  padding: 0 50px;
}

#register-page .well > .row {
  margin: auto;
}

#login-page .form-control,
#register-page .form-control {
  height: 37px;
}

#login-page h2,
#register-page h2 {
  border-top: 0;
  top: 0;
}
