{% extends 'MiriadeEventBundle::Event:show.html.twig' %} 
	{% block intromessage %}
		<h1>Programme de l'dezfezf</h1> 
	{% endblock %} 
{% block content %} 
	<div class="container" xmlns="http://www.w3.org/1999/html"> <h2>Contact de l'événement</h2> </div> 
{% endblock %}
