{% extends 'MiriadeEventBundle::layout.html.twig' %}
{% block headervent %}
	<li>
		<a href="{{ path('miriade_event_about',{'id':event.id}) }}">À propos</a>
	</li>
	<li>
		<a href="{{ path('miriade_event_program',{'id':event.id}) }}">Programme</a>
	</li>
	<li>
		<a href="{{ path('miriade_event_contact',{'id':event.id}) }}">Contact</a>
	</li>
	<li>
		<a href="{{ path('miriade_event_map',{'id':event.id}) }}">Plan d'accès</a>
	</li>
{% endblock %}
{% block content %}
	<div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1>Contact</h1>
                <div class="event-description contact">
                    <h3>Organisateur principal</h3>
                    <hr>
                    <div class="col-md-6">
                        <div class="contact-item">
                            <h4>Miriade</h4>
                            <table class="table">
                                <tr>
                                    <td valign="middle">
                                        <img src="http://silvernormandie.talkb2b.net/thumbs/Setting/OrganizationLogo/2015_08/220x140_miriade_Region_HD.jpg" alt="Miriade">
                                    </td>
                                    <td>
                                        <address>
                                            Elisa Tofoni<br>
                                            <abbr title="Téléphone">P:</abbr>+33231533459<br>
                                            <abbr title="E-mail">E:</abbr><a href="mailto:tofoni@miriade-innovation.fr">tofoni@miriade-innovation.fr</a>
                                        </address>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="contact-item">
                            <h4>Miriade</h4>
                            <table class="table">
                                <tr>
                                    <td valign="middle">
                                        <img src="http://silvernormandie.talkb2b.net/thumbs/Setting/OrganizationLogo/2015_08/220x140_miriade_Region_HD.jpg" alt="Miriade">
                                    </td>
                                    <td>
                                        <address>
                                            Gwladys Lemenand<br>
                                            <abbr title="Téléphone">P:</abbr>+33231533457<br>
                                            <abbr title="E-mail">E:</abbr><a href="mailto:tofoni@miriade-innovation.fr">lemenand@miriade-innovation.fr</a>
                                        </address>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <h3>Co-organisateurs</h3>
                    <hr>
                    <div class="col-md-6">
                        <div class="contact-item">
                            <h4>Enterprise Europe Network Sud-Ouest (EENSO) – MADEELI</h4>
                            <table class="table">
                                <tr>
                                    <td valign="middle">
                                        <img src="http://silvernormandie.talkb2b.net/thumbs/SupportOffice/Image/2015_07/220x140_madeeli.jpg" alt="Miriade">
                                    </td>
                                    <td>
                                        <address>
                                            Christine Guidice<br>
                                            <abbr title="Téléphone">P:</abbr>06 32 81 36 82<br>
                                            <abbr title="E-mail">E:</abbr><a href="mailto:christine.guidice@madeeli.fr">christine.guidice@madeeli.fr</a>
                                        </address>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="contact-item">
                            <h4>Miriade</h4>
                            <table class="table">
                                <tr>
                                    <td valign="middle">
                                        <img src="http://silvernormandie.talkb2b.net/thumbs/Setting/OrganizationLogo/2015_08/220x140_miriade_Region_HD.jpg" alt="Miriade">
                                    </td>
                                    <td>
                                        <address>
                                            Gwladys Lemenand<br>
                                            <abbr title="Téléphone">P:</abbr>+33231533457<br>
                                            <abbr title="E-mail">E:</abbr><a href="mailto:tofoni@miriade-innovation.fr">lemenand@miriade-innovation.fr</a>
                                        </address>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
				<div class="col-md-3">
					<div class="well organisateurs-block aside-content">
						<h4>Organisateurs</h4>
						<div class="row">
						<div class="col-md-12 organisateurs-block-item">
								<a href="#">
										<img class="img-responsive" src="http://silvernormandie.talkb2b.net/thumbs/Box/Image/2015_03/220x0_logo_net_en.png" alt="">
								</a>
						</div>
						<div class="col-md-12 organisateurs-block-item">
								<a href="#">
										<img class="img-responsive" src="http://silvernormandie.talkb2b.net/thumbs/Box/Image/2015_08/220x0_miriade_Region_HD.jpg" alt="">
								</a>
						</div>
						<div class="col-md-12 organisateurs-block-item">
								<a href="#">
										<img class="img-responsive" src="http://silvernormandie.talkb2b.net/thumbs/Box/Image/2015_07/220x0_cci_midi_pyrenees.gif" alt="">
								</a>
						</div>
					</div>
				 </div>
				 <div class="well aside-content">
					<h4>Vues de profil</h4>
					<div class="row">
						<table class="table table-condensed">
							<tr>
								<td class="col-md-2">Avant l'événement</td>
								<td class="col-md-1">17218</td>
							</tr>
							<tr>
								<td class="col-md-2">Après l'événement</td>
								<td class="col-md-1">13285</td>
							</tr>
							<tr>
								<td class="col-md-2">RDV acceptés</td>
								<td class="col-md-1">107</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
        </div>
    </div>
{% endblock %}
