/* ==================================================== */
/* ====================== Global ====================== */
/* ==================================================== */
@font-face {
    font-family: 'varela_roundregular';
    src: url('../fonts/VarelaRound/varelaround-regular-webfont.eot');
    src: url('../fonts/VarelaRound/varelaround-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/VarelaRound/varelaround-regular-webfont.woff2') format('woff2'),
         url('../fonts/VarelaRound/varelaround-regular-webfont.woff') format('woff'),
         url('../fonts/VarelaRound/varelaround-regular-webfont.ttf') format('truetype'),
         url('../fonts/VarelaRound/varelaround-regular-webfont.svg#varela_roundregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: varela_roundregular, sans-serif;
    background-color: #F2F2F2;
}

/* ==================================================== */
/* ====================== SideNav ===================== */
/* ==================================================== */
.side-nav a {
  color:#FFF;
}

/* ==================================================== */
/* =================== Admin Events =================== */
/* ==================================================== */
.eventName, .userName {
  font-size: 1.3em;
}

/* ==================================================== */
/* =================== Admin Users  =================== */
/* ==================================================== */
.error {
  color: red;
}
#userList .list td, #eventList .list td {vertical-align: middle;}
#userList .btn-success, #eventList .btn-success, form .btn-success {
    background-color: #d16a25;
    border: 0 none;
  }
table th {
  color: white;
  background-color: #2f88aa;
}

table th.sort{
  cursor: pointer;
}

.eventName, .userName {
  font-size: 1.3em;
}
